* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

a {
    font-weight: 600;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.artgram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.artgram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.artgram-phone img {
    height: 50rem;
}

.artgram-continue {
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 60%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.artgram-logo {
    height: 2.2rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

.artgram-login {
    background-color: #a200ff;
    color: #FFF;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
}

.artgram-logout {
    color: #a200ff;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link {
    color: #a200ff;
}

.get-the-app {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('assets/apple.png');
}

.app-download:nth-child(2) {
    background-image: url('assets/disponivel-png-8.png');
}

/* ----- MEDIA QUERIES ----- */
@media (max-width: 1024px) {

    .artgram-wrapper {
        width: 90%;
    }

    .group {
        width: 80%;
    }

    .artgram-phone {
        width: 60%;
        margin: 2rem;
    }

}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .group {
        border: 1px solid transparent;
    }

    .artgram-wrapper {
        width: 80%;
    }

    .artgram-phone {
        display: none;
    }

    .artgram-continue {
        width: 100%;
    }
    
}